/docker/mysql/data/*
!src/storage/app/public/icons/*
!src/storage/app/public/product_images/coffee_grinder.jpg
!src/storage/app/public/product_images/HDD.jpg
!src/storage/app/public/product_images/laptop.jpg
!src/storage/app/public/product_images/leather_shoes.jpg
!src/storage/app/public/product_images/makeup_set.jpg
!src/storage/app/public/product_images/mic.jpg
!src/storage/app/public/product_images/onion.jpg
!src/storage/app/public/product_images/shoulder.jpg
!src/storage/app/public/product_images/tumbler.jpg
!src/storage/app/public/product_images/watch.jpg
!src/storage/app/public/user_icons/banana.png
!src/storage/app/public/user_icons/grapes.png
!src/storage/app/public/user_icons/kiwi.png
!src/storage/app/public/user_icons/melon.png
!src/storage/app/public/user_icons/muscat.png