.detail__content {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 50px 100px;
}

.detail__group {
    width: 50%;
    margin: 20px 50px;
}

.detail__image {
    position: relative;
    width: 100%;
}

.detail__image--image {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 40px;
    background-color: #d9d9d9;
    border-radius: 5px;
}

.detail__image--sold {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    color: white;
    font-size: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}

.detail__information {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.detail__name {
    height: 60px;
    margin-bottom: 10px;
    color: black;
    font-size: 50px;
    font-weight: bold;
}

.detail__brand {
    height: 20px;
    margin-bottom: 20px;
    color: black;
    font-size: 15px;
}

.detail__price {
    display: flex;
    align-items: end;
    height: 40px;
    margin-bottom: 20px;
}

.detail__price--yen {
    color: black;
    font-size: 20px;
}

.detail__price--price {
    height: 40px;
    color: black;
    font-size: 30px;
}

.detail__price--tax {
    color: black;
    font-size: 20px;
}

.detail__counts {
    display: flex;
    margin-bottom: 20px;
}

.detail__count {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.detail__count--icon {
    height: 30px;
    width: 30px;
    margin: 0 30px;
}

.bookmarked {
    filter: invert(100%) sepia(100%) saturate(1000%)  brightness(1);
}

.detail__purchase {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    width: 100%;
    margin-bottom: 20px;
    color: white;
    font-size: 25px;
    font-weight: bold;
    background-color: #ff5555;
    border-radius: 5px;
    text-decoration: none;
}

.detail__description {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

.detail__description--title {
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: bold;
}

.detail__status {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

.detail__status--title {
    font-size: 30px;
    font-weight: bold;
}

.detail__category {
    display: flex;
    align-items: flex-start;
}

.detail__category--content {
    display: flex;
    flex-wrap: wrap;
}

.detail__category--item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    margin: 5px 10px;
    padding: 5px 30px;
    font-size: 18px;
    background-color: #d9d9d9;
    border-radius: 15px;
}

.detail__condision {
    display: flex;
    align-items: center;
    height: 50px;
}

.detail__condision--content {
    display: flex;
    justify-content: left;
    align-items: center;
    height: 30px;
    margin: 0 40px;
    font-size: 18px;
}

.detail__status--lavel {
    display: flex;
    flex-shrink: 0;
    margin: 5px 50px 5px 0;
    font-size: 20px;
    font-weight: bold;
}

.detail__comments {
    margin-bottom: 50px;
}

.detail__comments--title {
    margin-bottom: 20px;
    color: #5f5f5f;
    font-size: 30px;
    font-weight: bold;
}

.comments__comment {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.comment__user {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.comment__user--image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 60px;
    background-color: #d9d9d9;
    border-radius: 30px;
}

.comment__user--name {
    margin: 0 20px;
    font-size: 25px;
    font-weight: bold;
}

.comment__content {
    padding: 15px 10px;
    font-size: 20px;
    background-color: #e5e5e5;
    border-radius: 5px;
}

.detail__comment-box {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}

.detail__comment-box--title {
    font-size: 25px;
    font-weight: bold;
}

.detail__comment-box--input {
    height: 300px;
}

.detail__comment-box--error {
    height: 30px;
    margin-bottom: 10px;
    color: red;
    font-size: 20px;
}

.detail__comment-box--button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    width: 100%;
    color: white;
    font-size: 25px;
    font-weight: bold;
    background-color: #ff5555;
    border-style: none;
    border-radius: 5px;
}

@media screen and (max-width: 1024px) {
    .detail__content {
        padding: 50px 30px;
    }

    .detail__group {
        margin: 20px;
    }
}