.list__content {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.list__tabs {
    display: flex;
    justify-content: left;
    height: 80px;
    width: 100%;
    padding: 30px 150px 0 150px;
    border-bottom: 1px solid black;
}

.list__tab {
    margin: 10px 100px;
    color: #5f5f5f;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}

.list__tab--active {
    color: #ff0000;
}

.list__cards {
    display: flex;
    flex-wrap: wrap;
    margin: 40px 30px;
}

.list__card {
    display: flex;
    flex-direction: column;
    margin: 30px;
    color: black;
    font-size: 20px;
    text-decoration: none;
}

.list__card--non-active {
    pointer-events: none;
}

.card__image {
    position: relative;
    height: 250px;
    width: 250px;
}

.card__image--image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    color: black;
    font-size: 30px;
    background-color: #d9d9d9;
    border-radius: 5px;
}

.card__image--sold {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    color: white;
    font-size: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}

.card__name {
    margin: 10px 0;
    color: black;
    font-size: 20px;
}

@media screen and (max-width: 1024px) {
    .list__tabs {
        height: 60px;
        padding: 20px 90px 0 90px;
    }

    .list__tab {
        margin: 5px 100px;
    }
}